@page
<h4>SignalR Benchmark App: AsyncHTTP</h4>
<canvas id="profileChart" width="200" height="60"></canvas>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/libs/p5.min.js"></script>
<script src="~/js/libs/chart.js"></script>

<script src="~/js/shader.js"></script>
<script src="~/js/profiler.js"></script>
<script src="~/js/app.js"></script>